{% extends 'base.html' %} 


{% block content %}
<main class = "container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Worked app</h1>
        <p class="text-center mt-3">La herramienta para que ordenes tu vida.</p>
    <div class = "text-center mt-3">
        <a class = "btn btn-secondary" href="/iniciar" >
            Iniciar sesión
        </a>
        <a class = "btn btn-dark" href="signup">
            Registrarse
        </a>
    </div>
    <section>
    </main>

{% endblock %}